{% extends "base.html" %}

{% block content %}
    <div class="form-group">
        <p>Car info enter</p>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <label for="Brand">Brand:</label>
                <input class="form-control" type='text' id='brand' name='brand'>

            </div>
            <div>
                <label for="Year">year:</label>
                <input class="form-control" type='text' id='year' name='year'>

            </div>
            <input class="btn btn-primary" type="submit">
        </form>
        
    </div>
{% endblock %}