<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dj2</title>
</head>
<body>

    <h1>Welcome again!</h1>

    <p>{{ first_name | upper}}</p>
    <p>{{ last_name}}</p>

    <p>{{ some_list.0 }} </p>
    <p>{{ some_dict.insidekey }}</p>
    <p>{# This is comment #}</p>

    <div>
        {% for item in some_list%}
        <li>{{ item }}</li>
        {% endfor %}
    </div>

    <div>
        {% for key, value in some_dict.items %}
            <li>{{value | capfirst}}</li>
        {% endfor %}
    </div>

    <br>
    <ul>
        {% for i in some_list %}
            {% if i == 4 %}
                <p>{{count | add:"1" }} </p>
            {% endif%}
        {% endfor %}
    </ul>
    
</body>
</html>